<h1>Hola</h1>
This is my page info.
I am Maria Laura, I come from Argentina and I am living now in The Netherlands. <br>
<p>I like to learn and teach</p>
Today I am learing from Ruby on Rails
<p>My hobbies are:
<ul>
  <li>a</li>
  <li>b</li>
</ul>
<p>Find me in app/views/pages/info.html.erb</p>
